{% extends '::adminBase.html.twig' %}
{% block content_header %}
    <h1>
        Страны
        <small>Редактирование</small>
    </h1>
{% endblock content_header %}
{% block content %}
    <div class="box box-info">
    </div>
    {{ form_start(edit_form) }}
    <div class="box-body">
        {{ form_widget(edit_form) }}
    </div>

    <div class="box-footer">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-primary">Сохранить <i class="fa fa-fw fa-check-square-o"></i></button>
            <a class="btn btn-default" href="{{ path('admin_shop_settings_country') }}">Отмена <i class="fa fa-fw fa-undo"></i></a>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
