{% extends "base.html.twig" %}
{% block content %}
    <h2 class="page-title">Мой аккаунт</h2>
    <div class="container">
    	<div class="row profile">
    		<div class="col-md-6 col-md-offset-3">
    			<h3>Имя Аккаунта <a href="#" class="pull-right">Выйти</a></h3>
    			<address>
    				<p>Адрес: <span>тут адрес</span></p>
    			</address>
    			<p>
	    			<a href="#" class="edit change">Редактировать</a>
	    			<a href="#" class="remove change">Удалить</a>
    			</p>
    			<p>
    				<a href="#" class="add change">Добавить новый адрес</a>
    			</p>
    			<p>
    				<a href="#" class="edit-profile">Редактировать профиль</a>
    			</p>
    			<p>
    				<a href="#" class="wishlist">Избранное</a>
    			</p>
    			<div class="text-center">
    				<a href="#" class="main-link">На главную</a>
    			</div>
    		</div>
    	</div>
    </div>
{% endblock %}