{% extends '::adminBase.html.twig' %}
{% block content_header %}
    <h1>Страницы<small>Редактирование</small></h1>
{% endblock content_header %}
{% block content %}
    <div class="box box-info">
    </div>
    {{ form_start(edit_form) }}
    <div class="box-body">
        {{ form_widget(edit_form) }}
    </div>

    <div class="box-footer">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-primary">Сохранить <i class="fa fa-fw fa-check-square-o"></i></button>
            <a class="btn btn-default" href="{{ path('admin_cms_pages') }}">Отмена <i class="fa fa-fw fa-undo"></i></a>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock content %}
{% block footer_script %}
    <script type="text/javascript">
        function trim(string) {
            string = string.replace(/'|"|<|>|\!|\||@|#|$|%|^|&|\*|\(\)|-|\|\/|;|\+|№|,|\?|_|:|{|}|\[|\]/g, "");
            string = string.replace(/(^\s+)|(\s+$)/g, "");
            return string;
        }
        function get_trans(ag_val) {
            en_to_ru = {
                'а': 'a',
                'б': 'b',
                'в': 'v',
                'г': 'g',
                'д': 'd',
                'е': 'e',
                'ё': 'jo',
                'ж': 'zh',
                'з': 'z',
                'и': 'i',
                'й': 'j',
                'к': 'k',
                'л': 'l',
                'м': 'm',
                'н': 'n',
                'о': 'o',
                'п': 'p',
                'р': 'r',
                'с': 's',
                'т': 't',
                'у': 'u',
                'ф': 'f',
                'х': 'h',
                'ц': 'c',
                'ч': 'ch',
                'ш': 'sh',
                'щ': 'sch',
                'ъ': '',
                'ы': 'y',
                'ь': '',
                'э': 'je',
                'ю': 'ju',
                'я': 'ja',
                ' ': '-',
                'і': 'i',
                'ї': 'i'
            };
            ag_val = ag_val.toLowerCase();
            ag_val = trim(ag_val);
            ag_val = ag_val.split("");
            trans = new String();
            for (i = 0; i < ag_val.length; i++) {
                for (key in en_to_ru) {
                    val = en_to_ru[key];
                    if (key == ag_val[i]) {
                        trans += val;
                        break
                    } else if (key == "ї") {
                        trans += ag_val[i]
                    }
                }
            }
            return trans;
        }
        $("form[name='pages']").ready(function () {
            if ($(this).find("input[name='pages[fullName]']").length > 0) {
                var name = $(this).find("input[name='pages[fullName]']");
                $(name).blur(function () {
                    var result = get_trans($(this).val());
                    $("input[name='pages[alias]']").val(result);
                    $("input[name='pages[title]']").val($(this).val());
                });
            }
        });
        $(document).ready(function () {
            $('[data-provider="datepicker"]').datepicker({
                autoclose: true,
                format: 'dd.mm.yyyy',
                language: 'ru',
                todayBtn: true
            });
            {% if params is defined %}
            {% if params.hide[0] is defined %}
            {% if params.hide[0] == "hideTitle" %}
            $('#pages_hide_0').prop('checked', true);
            {% elseif params.hide[0] == "hideText" %}
            $('#pages_hide_1').prop('checked', true);
            {% endif %}
            {% endif %}
            {% if params.hide[1] is defined %}
            {% if params.hide[1] == "hideTitle" %}
            $('#pages_hide_0').prop('checked', true);
            {% elseif params.hide[1] == "hideText" %}
            $('#pages_hide_1').prop('checked', true);
            {% endif %}
            {% endif %}
            {% endif %}
        });
    </script>
    <style>
        .modal-body{
            min-height: 500px;
        }
        #frame_pages_images{
            min-height: 500px;
        }
        #frame_pages_mainImages{
            min-height: 500px;
        }
    </style>
{% endblock footer_script %}