{% if count >0 %}

    <li>
        <a id="wish-list" class="nav-item-link"
           href="{{ path('site_wish') }}" data-toggle="tooltip"
           title="Избранное" data-placement="bottom"><img src="{{ asset('images/heartWishlist.png') }}"></a>
    </li>
{% else %}
    <li class="navItemRight">
        <a id="wish-list" class="nav-item-link"
           href="{{ path('site_wish') }}" data-toggle="tooltip"
           title="Избранное" data-placement="bottom"></a>
    </li>
{% endif %}