{% extends '::adminBase.html.twig' %}
{% block content_header %}
    <h1>
        Изображения слайдера
        <small>Редактирование</small>
    </h1>
{% endblock content_header %}
{% block content %}
    <div class="box box-info">
    </div>
    {{ form_start(edit_form) }}
    <div class="box-body">
        {{ form_widget(edit_form) }}
    </div>

    <div class="box-footer">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-primary">Сохранить <i class="fa fa-fw fa-check-square-o"></i></button>
            <a class="btn btn-default" href="{{ path('admin_shop_settings_sliderimage') }}">Отмена <i class="fa fa-fw fa-undo"></i></a>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
{% block footer_script %}
    <script type="text/javascript">
        function changeType() {
            if ($('#slider_image_type').val() == 'product') {
                $('#slider_image_product').parent().parent().show('slow');
                $('#slider_image_category').parent().parent().hide('slow');
            }
            if ($('#slider_image_type').val() == 'category') {
                $('#slider_image_category').parent().parent().show('slow');
                $('#slider_image_product').parent().parent().hide('slow');
            }
        }
        $(function () {
            changeType();
            $('#slider_image_type').change(function () {
                changeType();
            });
            $('#slider_image_product').select2({
                tags: true,
                allowClear: true,
                theme: "classic"
            });
            $('#slider_image_category').select2({
                tags: true,
                allowClear: true,
                theme: "classic"
            });
        });
    </script>
{% endblock footer_script %}
